@font-face
/*perintah untuk memanggil font eksternal*/

{
    font-family: 'PoppinsRegular';
    /*memberikan nama bebas untuk font*/
    src: url('./fonts/poppins/Poppins-Regular.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}
@font-face
/*perintah untuk memanggil font eksternal*/

{
    font-family: 'Metaverse';
    /*memberikan nama bebas untuk font*/
    src: url('./fonts/meta/Metaverse-2OYeo.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}
@font-face
/*perintah untuk memanggil font eksternal*/

{
    font-family: 'lukies';
    /*memberikan nama bebas untuk font*/
    src: url('./fonts/lukies/LuckiestGuy-Regular.ttf');
    /*memanggil file font eksternalnya di folder nexa*/
}
html,
body {
  margin: 0;
  font-family:"lukies","PoppinsRegular", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #110620;
  z-index: 0;
  
}



/* Extra Small Devices, Phones */

@media screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media screen and (min-width: 768px) {}


/* Medium Devices, Desktops */

@media screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */

@media screen and (min-width: 1200px) {}